name: Build for android

on:
  push:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
     steps:
    - uses: actions/checkout@v4
     - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'
     - name: Setup Android SDK
      uses: android-actions/setup-android@v3
      with:
       packages: "platforms;android-34 platforms;android-22 build-tools;34.0.0"
     - name: Cache Gradle
      uses: actions/cache@v3
      with:
        path: |
          ~/.gradle/caches
          ~/.gradle/wrapper
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', 'gradle/wrapper/gradle-wrapper.properties') }}
     - name: Make gradlew executable
      run: chmod +x gradlew
     - name: Build Debug APK
      run: ./gradlew assembleDebug --no-daemon --stacktrace --info
     - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: tank-apk
        path: |
          app/build/outputs/apk/debug/*.apk
          app/build/outputs/apk/**/*.apk
