name: Build for android

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 11
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Setup Android SDK
      uses: android-actions/setup-android@v3
      with:
        packages: "platforms;android-22 build-tools;30.0.3"

    - name: Make gradlew executable
      run: chmod +x gradlew

    - name: Build Debug
      run: ./gradlew assembleDebug --no-daemon

    - uses: actions/upload-artifact@v4
      with:
        name: apk
        path: app/build/outputs/apk/debug/*.apk
